services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: proxy_app
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - proxy_network

networks:
  proxy_network:
    name: proxy_network
